<!doctype html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8">
  <title>تسجيل الدخول</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>تسجيل الدخول</h2>

{% for message in messages %}
  <p style="color:red">{{ message }}</p>
{% endfor %}

<form method="post">
  {% csrf_token %}

  <label>البريد الإلكتروني</label><br>
  <input type="email" name="email" required><br><br>

  <label>كلمة المرور</label><br>
  <input type="password" name="password" required><br><br>

  <button type="submit">دخول</button>
</form>

<p>
  ليس لديك حساب؟
  <a href="{% url 'accounts:register' %}">إنشاء حساب</a>

</p>

</body>
</html>
